.vs/
x64/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk
*.vcxproj.user
*.user
*.userosscache
*.sln.docstates
*.suo
*.db
*.opendb

# Kết quả biên dịch (Build outputs)
*.obj
*.lib
*.pdb
*.exp
*.ilk
*.exe
*.out
*.app
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild

